"*":
  "exception-reporting":
    userId: "8bbc76f3-b4db-b8d3-4e6b-26d3763d86e4"
  welcome:
    showOnStartup: false
  "autocomplete-clang":
    includePaths: [
      ". ../include ../vivid/include"
    ]
    ignoreClangErrors: false
  core:
    disabledPackages: [
      "autocomplete-clang"
      "todo-list"
    ]
    themes: [
      "one-dark-ui"
      "flatland"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 200
    scrollPastEnd: true
    fontFamily: "droid sans mono"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "autocomplete-ctags": {}
  "clang-format":
    executable: "clang-format-3.6"
  "one-dark-ui": {}
  "git-plus": {}
  "switch-header-source": {}
  "terminal-panel": {}
  "terminal-status": {}
  docblockr: {}
  "spell-check": {}
  "atom-terminal": {}
  "atom-terminal-panel": {}
  "todo-show": {}
  minimap: {}
  "center-screen":
    followCursor: true
".cpp.source":
  editor:
    preferredLineLength: 200
".c.source":
  editor:
    preferredLineLength: 200
".diff.source":
  editor:
    preferredLineLength: 200
