snippet public "Write public with comment" b
public:  // ====> $1
endsnippet

snippet private "Write private with comment" b
private:  // ===> $1
endsnippet

snippet protected "Write protected with comment" b
protected:  // => $1
endsnippet

snippet dlink "Write Doxygen link"
\link $1 \endlink
endsnippet
